MOLIT_DSAAS_INTROSPECTION_CLIENT_ID=replace-at-deployment
MOLIT_DSAAS_INTROSPECTION_CLIENT_SECRET=replace-at-deployment
MOLIT_CAAS_DSAAS_CONTROLLER_TOKEN=replace-at-deployment
MOLIT_DSAAS_POSTGRES_URL=replace-at-deployment
MOLIT_DSAAS_INSTANCE_ID=replace-with-unique-instance-id
MOLIT_DSAAS_POSTGRES_CA_PEM=replace-with-ca-pem
